@charset "UTF-8";
/*variables*/
/*variables*/
/*mixins*/
/*mixins*/
/*tamaño fuentes*/
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  letter-spacing: 0px;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  letter-spacing: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  letter-spacing: 0px;
}

.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  letter-spacing: 0px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  letter-spacing: 0px;
}

.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  letter-spacing: 0px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  letter-spacing: 0px;
}

.h4 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  letter-spacing: 0px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0px;
}

.h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0px;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 0px;
}

.h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 0px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0px;
}

a {
  color: #bfb093;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}

a:hover {
  color: #8c715a;
}

/*tamaño fuentes*/
body {
  background-color: #ffffff;
  color: #261e17;
}

header {
  color: #bfb093;
  background-color: #272640;
}
header .navbar-brand {
  font-family: "Architects Daughter", cursive;
  color: #bfb093;
}
header .navbar-brand:hover {
  color: #8c715a;
}
header .nav-link {
  color: #bfb093;
}
header .nav-link:hover {
  background-color: #bfb093;
  color: #261e17;
}
header .active {
  color: #261e17;
  background-color: #bfb093 !important;
}

.tarjeta {
  background-color: #bfb093;
}
.tarjeta span {
  color: #272640;
}

.btn-primary {
  color: #8c715a;
  background-color: #bfb093;
  border: none;
}

.btn-primary:hover {
  color: #8c715a;
  background-color: #261e17;
}

.btn-secondary {
  color: #bfb093;
  background-color: #272640;
  border: none;
}

.btn-secondary:hover {
  color: #8c715a;
  background-color: #261e17;
}

.ver-movil {
  visibility: hidden;
  position: absolute;
}

.no-ver-movil {
  visibility: visible;
  position: relative;
}

footer {
  background-color: #8c715a;
}
footer .fin {
  background-color: #261e17;
  color: #bfb093;
}

.navbar-toggler {
  border-color: #bfb093;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(191, 176, 147)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nosotros {
  background-color: #272640;
  color: #ffffff;
}

@media (max-width: 768px) {
  .no-ver-movil {
    visibility: hidden;
    position: absolute;
  }

  .ver-movil {
    visibility: visible;
    position: relative;
  }

  .tarjeta {
    background-color: #ffffff;
  }
}

/*# sourceMappingURL=style.css.map */
