/*variables*/
$tipografia-proyecto: "Roboto", sans-serif;
$logo-proyecto: "Architects Daughter", cursive;
$fondo-proyecto: #ffffff;
$color-principal-proyecto: #272640;
$color-secundario-proyecto: rgb(191, 176, 147);
$letras-proyecto: #261e17;
$letras-secundarias-proyecto: #8c715a;
/*variables*/

/*mixins*/
@mixin heading-1 {
  font-family: $tipografia-proyecto;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin heading-2 {
  font-family: $tipografia-proyecto;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin heading-3 {
  font-family: $tipografia-proyecto;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin heading-4 {
  font-family: $tipografia-proyecto;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin heading-5 {
  font-family: $tipografia-proyecto;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin heading-6 {
  font-family: $tipografia-proyecto;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin parrafo {
  font-family: $tipografia-proyecto;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0px;
}

@mixin enlace {
  color: $color-secundario-proyecto;
  font-family: $tipografia-proyecto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}

/*mixins*/

/*tamaño fuentes*/
h1 {
  @include heading-1;
}

.h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

.h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

.h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

.h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

.h5 {
  @include heading-5;
}

h6 {
  @include heading-6;
}

.h6 {
  @include heading-6;
}

p {
  @include parrafo;
}

a {
  @include enlace;
}

a:hover {
  color: $letras-secundarias-proyecto;
}

/*tamaño fuentes*/
body {
  background-color: $fondo-proyecto;
  color: $letras-proyecto;
}
header {
  .navbar-brand {
    font-family: $logo-proyecto;
    color: $color-secundario-proyecto;
  }
  .navbar-brand:hover {
    color: $letras-secundarias-proyecto;
  }
  color: $color-secundario-proyecto;
  background-color: $color-principal-proyecto;
  .nav-link {
    color: $color-secundario-proyecto;
  }
  .nav-link:hover {
    background-color: $color-secundario-proyecto;
    color: $letras-proyecto;
  }
  .active {
    color: $letras-proyecto;
    background-color: $color-secundario-proyecto !important;
  }
}
.tarjeta {
  background-color: $color-secundario-proyecto;
  span {
    color: $color-principal-proyecto;
  }
}
.btn-primary {
  color: $letras-secundarias-proyecto;
  background-color: $color-secundario-proyecto;
  border: none;
}
.btn-primary:hover {
  color: $letras-secundarias-proyecto;
  background-color: $letras-proyecto;
}
.btn-secondary {
    color: $color-secundario-proyecto;
    background-color: $color-principal-proyecto;
    border: none;
  }
  .btn-secondary:hover {
    color: $letras-secundarias-proyecto;
    background-color: $letras-proyecto;
  }
.ver-movil {
    visibility: hidden;
    position: absolute;
}
.no-ver-movil {
    visibility: visible;
    position: relative;
  }
footer{
    background-color: $letras-secundarias-proyecto;
    .fin{
        background-color: $letras-proyecto;
        color: $color-secundario-proyecto;
    }
}
.navbar-toggler {
    border-color: $color-secundario-proyecto;
}
.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(191, 176, 147)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nosotros{
    background-color: $color-principal-proyecto;
    color: $fondo-proyecto;
}
@media (max-width: 768px) {
    .no-ver-movil {
        visibility: hidden;
        position: absolute;
    }

    .ver-movil {
        visibility: visible;
        position: relative;
    }
    .tarjeta{
        background-color: $fondo-proyecto;
    }
}