/*variables*/
$color-1: rgb(26, 11, 11);
$color-2: tomato;

/*variables*/
/*mixins*/
/*mixins*/
/*tema claro */
.tema-claro {
  background-color: cornflowerblue;
  background-image: url("../img/sol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

.tema-claro .text-tema {
  color: rgb(6, 19, 61);
}

.tema-claro .text-secundario {
  color: rgb(6, 19, 61);
}

.tema-claro .btn-tema-nav {
  background: rgba(104, 255, 95, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(104, 255, 95, 0.3);
}

.tema-claro .bg-tema {
  background-color: rgb(26, 11, 11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(104, 255, 95, 0.3);
  color: #e4bdbd;
}

.tema-claro .btn-tema {
  background-color: $color-2;
  border-radius: 16px;
  color: $color-1;
}

.vidrio {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.vidrio-nav {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 0px 0px 16px 16px;
  -moz-border-radius: 0px 0px 16px 16px;
  -ms-border-radius: 0px 0px 16px 16px;
  -o-border-radius: 0px 0px 16px 16px;
}

.vidrio-footer {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 16px 16px 0px 0px;
  -moz-border-radius: 16px 16px 0px 0px;
  -ms-border-radius: 16px 16px 0px 0px;
  -o-border-radius: 16px 16px 0px 0px;
}

#contenido {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#servicios .card {
  height: 100%;
}

.logo {
  width: 100px;
  height: auto;
}

.calc {
  display: none !important;
}

.correcto {
  background-color: green;
}

.incorrecto {
  background-color: red;
}

#logo-carga {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  position: absolute;
}

.no-scroll {
  overflow: hidden;
}
